<div class="rating-card">
  <img class="star-icon" src="../assets/icon-star.svg">
  <div>
    <h1>How did we do?</h1>
    <p>Please let us know how we did with your support request. All feedback is appreciated to help us improve our offering!</p>
  </div>
  <div class="rating-container">
    <div [ngClass]="{'active' : i+1 === rating}" *ngFor='let x of counter(numberOfRating) ;let i= index' (click)="rateService(i+1)"><span>{{i+1}}</span></div>
  </div>

  <button (click)="rate()" [ngClass]="{'submit-button-disabled' : rating === 0}"  class="submit-button">SUBMIT</button>

  <div [ngClass]="{'active' : isRated}" class="success-message">
    <img src="../assets/illustration-thank-you.png">
    <div class="rating-selected"><span>You select {{rating}} out 5</span></div>
    <div>
      <h1>Thank you !</h1>
      <p>We appreciate you taking the time to give a rating. I fyou ever need more support, don’t hesitate to get in touch!</p>
    </div>
  </div>
</div>
